/* default css start */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
}
.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 15px;
}
.header-area {
  background-position: center center;
  background-size: cover;
}
/* default css end */

/* navbar regular css start */
.navbar-area {
  border-bottom: 1px solid rgb(255, 255, 255);
}
.site-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background: rgba(213, 180, 180, 0.6); */
  padding: 0px 30px;
}
.title {
  font-size: 2.5rem;
  font-weight: 900;
  line-height: 45px;
}
.title-text {
  color: rgb(255, 255, 255);
  font-weight: 500;
  font-size: 1rem;
  padding: 0px 20px 0px 0px;
}

a.site-logo {
  font-size: 26px;
  font-weight: 800;
  text-transform: uppercase;
  color: rgb(60, 39, 39);
  text-decoration: none;
  /* background: rgba(89, 40, 40, 0.6); */
}
a.site-logo img {
  height: 40px;
  /* background: rgba(89, 40, 40, 0.6); */
}
.site-navbar ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}
.site-navbar ul li a {
  color: #6a8288;
  padding: 20px 10px;
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 0.9rem;
}
.site-navbar ul li a:hover {
  color: #006375;
}
/* navbar regular css end */

/* nav-toggler css start */
.nav-toggler {
  border: 3px solid #fff;
  padding: 5px;
  background-color: transparent;
  cursor: pointer;
  height: 39px;
  display: none;
}
.nav-toggler span,
.nav-toggler span:before,
.nav-toggler span:after {
  width: 28px;
  height: 3px;
  background-color: rgb(106, 105, 105);
  display: block;
  transition: 0.3s;
}
.nav-toggler span:before {
  content: "";
  transform: translateY(-9px);
}
.nav-toggler span:after {
  content: "";
  transform: translateY(6px);
}
.nav-toggler.toggler-open span {
  background-color: transparent;
}
.nav-toggler.toggler-open span:before {
  transform: translateY(0px) rotate(45deg);
}
.nav-toggler.toggler-open span:after {
  transform: translateY(-3px) rotate(-45deg);
}
/* nav-toggler css start */

/* intro-area css start */
.intro-area {
  min-height: calc(50vh - 61px);
  height: auto;
  background-image: url("../images/banner.png");
  background-position: center center;
  background-size: cover;
  object-fit: contain;

  color: #fff;
}
.intro-area h2 {
  font-size: 50px;
  font-weight: 300;
  line-height: 50px;
  margin-bottom: 25px;
}
.intro-area p {
  font-size: 18px;
}

/* intro-area css end */

/* mobile breakpoint start */
@media screen and (max-width: 767px) {
  .container {
    max-width: 720px;
  }
  /* navbar css for mobile start */
  .nav-toggler {
    display: block;
  }
  .site-navbar {
    min-height: 60px;
  }
  .site-navbar ul {
    position: absolute;
    width: 100%;
    height: calc(100vh - 60px);
    left: 0;
    top: 60px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-top: 1px solid rgb(255, 255, 255);
    background-color: rgb(253, 253, 253);
    max-height: 0;
    overflow: hidden;
    transition: 0.3s;
  }
  .title {
    font-size: 1.5rem;
    line-height: 1;
  }
  .title-text {
    color: rgb(255, 255, 255);
    font-weight: 500;
    font-size: 0.8rem;
    padding: 0px 20px 0px 0px;
  }
  a.site-logo img {
    height: 40px;
    /* background: rgba(89, 40, 40, 0.6); */
  }
  .site-navbar ul li {
    width: 100%;
    text-align: center;
  }
  .site-navbar ul li a {
    padding: 25px;
  }
  .site-navbar ul li a:hover {
    background-color: rgb(255, 255, 255);
  }
  .site-navbar ul.open {
    max-height: 100vh;
    overflow: visible;
  }
  .intro-area h2 {
    font-size: 36px;
    margin-bottom: 15px;
  }
  /* navbar css for mobile end */
}
@media screen and (max-width: 467px) {
  a.site-logo img {
    height: 30px;
    /* background: rgba(89, 40, 40, 0.6); */
  }
  .title {
    font-size: 1.5rem;
    line-height: 1;
  }
  .title-text {
    color: rgb(255, 255, 255);
    font-weight: 500;
    font-size: 0.7rem;
    padding: 0px 0px 0px 0px;
  }
}
/* mobile breakpoint end */
